/node_modules/*
/bower_components/*
/src/lib/app.js
/src/lib/router.js
/src/lib/js/Parser.js
/src/lib/js/mins/
/build/*
/work/build/*
/work/blogs/*
/temp/*
/old_code/temp/*
/config.js 
/npm-debug.*
/package-lock.json
