<!doctype html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
	<title>The New Vally</title>
	<script src="/js/flexible.js"></script>
	<script src="/js/flexible_css.js"></script>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/arch.css">
</head>
<body>
	{{include '../public/header'}}
	
	<div class="arch main">
		<ul>
			{{each arch.list as blogName bi }}
			<li>
				<a href="{{ 'blog/' + arch.name + '/' + blogName.replace('.md', '.h' + 't' + 'ml')}}">
					{{blogName.replace('.md', '')}}
				</a>
				<span></span>
			</li>
	    	{{/each}}
		</ul>
	</div>
	
	{{include '../public/footer'}}
</body>

</html>   
