<!doctype html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
	<title>The New Vally</title>
	<script src="/js/flexible.js"></script>
	<script src="/js/flexible_css.js"></script>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/arch.css">
</head>
<body>
	{{include '../public/header'}}
	{{each archives as arch ai }}
	<div class="arch main">
		<h1>分类：<a href="{{ '/blog/' + arch.name + '/' + 'index.html'}}">{{arch.name}}</a></h1>
		<ul>
			{{each arch.list as blog bi }}
			<li>
				<a href="{{ '/blog/' + arch.name + '/' + blog.name.replace('.md', '.html')}}">{{blog.name.replace('.md', '')}}</a>
				<p class="update-time">
					{{ ''+blog.stat.update.year+'-'+blog.stat.update.month+'-'+blog.stat.update.day }}
				</p>
			</li>
			
	    	{{/each}}
		</ul>
	</div>
	{{/each}}

	{{include '../public/footer'}}
</body>
</html>
