<!doctype html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
	<title>The New Vally</title>
	<!-- <script src="/js/flexible.js"></script> -->
	<!-- <script src="/js/flexible_css.js"></script> -->
	<link rel="stylesheet" href="/css/rem.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/entry.css">
	<script src="/js/zepto.min.js"></script>
</head>
<body>
	{{include '../public/nav'}}

	{{if archives.length}}
	<div class="arch-container">
		{{each archives as arch ai }}
		<div class="arch main">
			<h1><a href="{{ '/blog/' + arch.name + '/' + 'index.html'}}">{{arch.name}}</a></h1>
			<ul>
				{{if arch.list.length >= 1}}
					{{each arch.list as blog bi}}
					<li>
						<a href="{{ '/blog/' + arch.name + '/' + blog.fileName.replace('.md', '.html')}}">{{blog.fileName.replace('.md', '')}}</a>
						<p class="update-time">
							{{dateFormat(blog.stat)}}
						</p>
					</li>
					{{/each}}
				{{else}}
					<li>
						<a href="#该分类为空">Nothing</a>
						<p class="update-time">Vally-Sys</p>
					</li>
				{{/if}}
			</ul>
		</div>
		{{/each}}
	</div>
	{{/if}}

	{{include '../public/aside'}}
	{{include '../public/footer'}}
</body>
<script src="/js/fastclick.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', function(){
		FastClick.attach(document.body);
		console.log('fastclick is ready');
	}, false);
</script>

<script src="/js/markVally.js"></script>
{{include '../public/ga'}}
</html>
