<!doctype html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
	<title>The New Vally</title>
	<script src="/js/flexible.js"></script>
	<script src="/js/flexible_css.js"></script>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/arch.css">
</head>
<body>
	{{include '../public/header'}}

	{{if archives.length >= 2}}
	<div class="arch-container">
	{{/if}}
		{{each archives as arch ai }}
		<div class="arch main">
			<h1>分类：<a href="{{ '/blog/' + arch.name + '/' + 'index.html'}}">{{arch.name}}</a></h1>
			<ul>
				{{each arch.list as blog bi}}
				<li>
					<a href="{{ '/blog/' + arch.name + '/' + blog.fileName.replace('.md', '.html')}}">{{blog.fileName.replace('.md', '')}}</a>
					<p class="update-time">
						{{dateFormat(blog.stat)}}
					</p>
				</li>
				{{/each}}
			</ul>
		</div>
		{{/each}}
	{{if archives.length >= 2}}
	</div>
	{{/if}}

	{{include '../public/aside'}}
	{{include '../public/footer'}}
</body>
<script src="/js/fastclick.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', function(){
		FastClick.attach(document.body);
		console.log('fastclick is ready');
	}, false);
</script>
</html>
