 <!--            /\              .\
              /   |            /  |
             / /| | .         / | | 
          .,--,. /        .,--,. /         Vally
         /      /|       /      /|
         \ ,   / /       \ .   / /
         /\_../-'         \_../-'
      , / |/ /           / / /
       /    / o         /   /o
       /  /            /  /
       '''     +       " '    +                -->
<!doctype html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
	<meta name="keywords" content="vally,blog,code">
	<meta name="description" content="eczn的个人博客">
	<title>The New Vally - eczn's blog</title>
	<link rel="shortcut icon" type="image/x-icon" href="icon.jpg" media="screen">
	<link rel="stylesheet" href="/css/rem.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/home.css">
	<script src="/js/zepto.min.js"></script>
</head>

<body>
	{{include '../public/nav'}}
	<ul class="blog-ul">
		{{each blogs as blog bi }}
		<li>
			<a href="{{ '/blog/all' + '/' + blog.fileName.replace('.md', '.h' + 't' + 'ml')}}">
				<h2 class="item-title">{{blog.fileName.replace('.md', '')}}&nbsp;</h2>
				<summary class="item-intro">
				{{if blog.info}}
					{{if blog.info.intro}}
						{{blog.info.intro}}
					{{/if}}
				{{/if}}
				</summary>
			</a>
			
			<time class="item-time">{{dateNormalize(blog.stat.birthtime)}}</time>
			<mark class="item-tags">
			{{if blog.info}}
				{{if blog.info.tags}}
					{{each blog.info.tags.split(',') as tag}}
					{{'#'+tag.trim()}}
					{{/each}}
				{{/if}}
			{{/if}}
			</mark>
		</li>
		{{/each}}
	</ul>
	
	<!--  -->
	<ul class="pageNum-container" style="margin: 0 auto;margin-top: 1.5rem;text-align: center;">
		{{each total as temp bi}}
			{{if bi == 0}}
			{{'<a href="/index.html">'}}
			{{else}}
			{{'<a href=' + '/page/index' + bi + '.html' + '>'}}
			{{/if}}
			
			{{if bi == now}}
			{{'<li class="pageNum pageBtn-active"><span>' + bi + '</span></li>'}}
			{{else}}
			{{'<li class="pageNum"><span>' + bi + '</span></li>'}}
			{{/if}}
			</a>
		{{/each}}
	</ul>
	
	{{include '../public/aside'}}
	{{include '../public/footer'}}
</body>
<script src="/js/fastclick.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', function(){
		FastClick.attach(document.body);
		console.log('fastclick is ready');
	}, false);
</script>
{{include '../public/ga'}}
</html>   
