<!doctype html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
	<title>The New Vally</title>
	<script src="/js/flexible.js"></script>
	<script src="/js/flexible_css.js"></script>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/arch-default.css">
</head>
<script src="/js/zepto.min.js"></script>
<body>
	{{include '../public/header'}}
	<div class="arch-default main"> 
		<ul>
			{{each blogs as blog bi }}
			<li>
				<a href="{{ '/blog/all' + '/' + blog.fileName.replace('.md', '.h' + 't' + 'ml')}}">
					{{blog.fileName.replace('.md', '')}}
				</a>
				<div class="intro">
				{{if blog.info}}
					{{if blog.info.intro}}
						{{blog.info.intro}}
					{{/if}}
				{{/if}}
				</div>
				<span></span>
				<div class="blog-info">
				{{if blog.info}}
					{{if blog.info.tags}}
						{{each blog.info.tags.split(',') as tag}}
						{{'#'+tag.trim()}}
						{{/each}}
					{{/if}}
				{{/if}}
				
				</div>
			</li>
	    	{{/each}}
		</ul>
	</div>
	
	<!-- now, nowArch, total -->
	<ul style="margin: 0 auto;margin-top: 1.5rem;text-align: center;">

		{{each total as temp bi}}
			{{if bi == 0}}
				{{ '<a href="/index.html">'}}
			{{else}}
				{{ '<a href=' + '/page/index' + bi + '.html' + '>'}}
			{{/if}}
			
			{{if bi == now}}
			    {{ '<li class="pageNum pageBtn-active"><span>' + bi + '</span></li>' }}
			{{else}}
			    {{ '<li class="pageNum"><span>' + bi + '</span></li>' }}
			{{/if}}
			</a>
		{{/each}}
	</ul>
	
	{{include '../public/aside'}}
	{{include '../public/footer'}}
</body>
<script src="/js/fastclick.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', function(){
		FastClick.attach(document.body);
		console.log('fastclick is ready');
	}, false);
</script>
</html>   
