/*blog.css*/
.blog-header {
	font-size: 16px; 
}

.blog-header {
	font-family: "PT Sans", Menlo, Consolas, "-apple-system", BlinkMacSystemFont,"微软雅黑", Verdana, Arial, Helvetica, sans-serif;
}

.blog-header > h1 {
	font-weight: bold; 
	font-size: 175%; 
	
	position: relative;
	font-weight: bold; 
}

.blog-content {
	max-width: 600px; 
	margin: 0 auto; 
}

@media screen and (max-width: 700px) and (min-width: 320px) {
	.blog-content {
		box-sizing: border-box;
		padding-left: 20px; 
		padding-right: 20px; 
	}
}

