/*blog.css*/
.blog-header {
	font-size: 16px; 
}

.blog-info {
	text-align: right;
}

.blog-header {
	font-family: "PT Sans", Menlo, Consolas, "-apple-system", BlinkMacSystemFont, "微软雅黑", Verdana, Arial, Helvetica, sans-serif;
}

.blog-header h1 {
	font-weight: bold; 
	font-size: 175%; 
	position: relative;
	font-weight: bold; 
}

.vally-header {
	line-height: 400px; 
	text-align: center; 
}

.blog-content {
	padding-top: 2em; 
	padding-bottom: 2em; 
	max-width: 600px; 
	margin: 0 auto; 
}

.comment {
	max-width: 600px; 
	margin: 0 auto; 
}

.control-btns {
	position: fixed;
	left: 50%;
	bottom: 4px; 
	transform: translateX(330px); 
	cursor: pointer; 
}

.back-2-top {
	width: 46px; 
}

.back-2-top:active {
	opacity: .5; 
}

@media screen and (max-width: 600px) and (min-width: 320px) {
	.blog-content {
		box-sizing: border-box;
		padding-left: 20px; 
		padding-right: 20px; 
	}

	.md > pre {
		margin-left: -20px; 
		margin-right: -20px; 
	}

	.md > figure {
		display: block;
		padding-left: 0;
		padding-right: 0;
		margin-left: -20px; 
		margin-right: -20px; 
	}

	.md > figure > img {
		display: block;
		width: 100%; 
		padding-left: 0;
		padding-right: 0;
		border-left: none; 
		border-right: none; 
	}
}

.mobile-btns {
	margin-top: 4em; 
	padding-top: 1em; 
	border-top: 1px solid #EEE; 
	display: none; 
}

@media screen and (max-width: 800px) and (min-width: 320px) {
	.control-btns[pc] {
		display: none; 
	}

	.mobile-btns {
		display: block; 
	}
}
