/*btn.css*/

[icon-btn-grey] {
	display: inline-block;
	cursor: pointer; 
	font-size: 0; 
	padding: .1rem .15rem; 
	border: 1px solid #DDD; 
	border-radius: 4px; 
	user-select:none;
}

[icon-btn-grey] > * {
	display: inline-block;
	vertical-align: middle;
	font-size: .3rem; 
	color: #cdcdcd; 
}

[icon-btn-grey] > .icon {
	width: 1.5em; 
}
