/*cates.css*/

.cates-container {
	line-height: 1.5; 
	text-align: center; 
	background-color: #FFF; 
	border: 1px solid #DDD; 
	box-sizing: border-box;
	padding: 1em 2em; 
	margin: 0 auto; 
	max-width: 700px; 
}

@media screen and (max-width: 700px) and (min-width: 320px) {
	.cates-container {
		border: none; 
	}
}

.cates {
	font-size: 16px; 
	list-style-type: none; 
}

.count {
	font-size: 16px;
}


.cate-li {
	position: relative;
	display: block;
	cursor: pointer; 
	padding: 4em 0; 
}

.see-all {
	background-color: #555; 
	color: #DDD; 
	margin: -.8em -1.5em; 
}

.cate-li:hover {
	text-decoration: none; 
}

.cate-li:hover .cate-name {
	text-decoration: underline; 	
}

.cate-name {
	font-size: 180%; 
}

.choose-area {
	position: absolute;
	cursor: pointer;
	opacity: 0; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%; 
}

.cate-inner {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%; 
	height: 0px; 
	color: #DDD; 
	background-color: #555555; 
	z-index: 90; 
	cursor: text;
	transition: all .3s; 
	overflow: hidden;
}

.choose-area:checked ~ .cate-inner {
	height: 300px; 
}

.choose-area:checked ~ .cate-name, .choose-area:checked ~ .cate-intro {
	position: relative;
	/*z-index: 99; */
}

.wrap {
	max-width: 700px; 
	margin: 0 auto;
	box-sizing: border-box; 
	padding: 0em 2em; 
	color: #DDD; 
}

.reset-btn {
	display: block;
	margin: 20px auto; 
	width: 240px; 
	padding: 0; 
	box-sizing: border-box;
	background: none; 
	color: inherit;
	font-size: 20px; 
	border-bottom: 1px solid #BBB; 
	border-left: none; 
	border-top: none; 
	border-right: none; 
	cursor: pointer;
	font-family: inherit;
}

.wrap a {
	display: block;
	padding-top: .5em; 
	text-decoration: underline;
}


