/*home.css*/
.pages {
	font-family: Consolas, Menlo; 
	font-size: 0; 
}

.pages [inner] {
	display: flex;
	justify-content: space-between; 
}

.page-btn {
	display: inline-block;
	font-size: 24px;
	padding: 4px 12px 4px 0; 
}

.page-active {
	opacity: .6; 
}

.blog {
	padding: 1rem 0; 
	border-bottom: 1px solid #EBEBEB; 
	line-height: 1.5; 
}

.blog:last-child {
	border-bottom: none!important;
}

.blog-title {
	display: block;
	font-size: 22px; 
}

.blog-title:hover {
	text-decoration: none; 
}

.blog-title:hover h1 {
	text-decoration: underline; 
}

.tags {
	display: block;
	font-size: 0; 
	/*text-align: center;*/
}

.tag {
	font-size: 0; 
	margin-right: 8px; 
}

.date *, .tag * {
	font-size: 12px; 
	margin-right: 4px; 
	vertical-align: middle;
}

.blog-icon {
	height: 1.20em; 
	opacity: .8; 
}

.intro {
	font-size: .3rem; 
	margin-bottom: 1em; 
}

.align-icon {
	display: flex;
	align-items: center;
}

.align-icon img {
	width: 32px; 
	height: 32px; 
}

.bottom-views {
	font-size: 16px; 
}

@media screen and (max-width: 700px) and (min-width: 320px) {
	.blogs > .blog {
		padding-left: 15px; 
		padding-right: 15px; 
	}	
}
