/*main.css*/
html {
	/*background-color: #EBEBEB; */
	/*border-top: 8px solid #FFF;*/
}

* {
	box-sizing: border-box;
}

h1, h2 {
    font-weight: 600; 
}

body {
    position: relative;

    /*font-family: "PT Sans", Menlo, Consolas, "-apple-system", BlinkMacSystemFont,"微软雅黑", Verdana, Arial, Helvetica, sans-serif;*/
    font-family: "PT Mono", Consolas, Monaco, Menlo, "-apple-system", BlinkMacSystemFont,"微软雅黑", Verdana, Arial, Helvetica, sans-serif;
    background-color: white;
    
    z-index: 10;
    color: #5B5B5B;
    
    overflow-x: hidden;
    
    
}

.container {
    padding: 30px 35px 40px 35px;
    border-radius: 0 0 15px 0px;
    max-width: 700px;
    margin: 100px auto 0px;
    margin-bottom: 10em; 
    transition: margin .2s; 
    transition-timing-function: cubic-bezier(0.3, 0.53, 0.58, 0.79);

}

::selection {
    color: #FFF;
    background-color: #C6BCBB;
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 10px;
    height: 16px;
    background-color: #AAA;
}

/* 轨道 */  
::-webkit-scrollbar-track {
    /*box-shadow: 0 0 20px 0 rgba(0,0,0,.5);*/
    background-color: #E0E0E0;
}

/* 定义滑块 */
::-webkit-scrollbar-thumb {
    /*box-shadow: 0 0 6px 0 rgba(0,0,0,.5);*/
    background-color: #AAA;
}  

.comment {
    font-size: 14px;
}

.return {

}

footer {
    margin: 2em 0; 
    float: right; 
    color: #CCC;
    font-size: 10px; 
    text-align: right;
    width: 100%;
    bottom: 0; 
}

footer hr {
    margin: .5em 0; 
    display: inline-block;
    border: none; 
    height: 1px; 
    background-color: #EEE; 
    width: 275px; 
}

.no-scroll {
    overflow: hidden;
}

.top {
    position: fixed;
    z-index: 9; 
    left: 0;
    width: 5px;
    top: 0; 
    height: 5px;
    background-color: #F0BFB5; 
}
