/*nav.css*/
body {
	height: 0px;
	font-family: "Consolas", "Menlo", "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", "sans-serif"; 
}

.nav-container {
	position: fixed;
	right: 0; 
	top: 0; 
	height: 100%; 
	width: 320px; 
	
	padding: .5em; 

	/*border-left: 1px solid; */

	box-sizing: border-box;

	/*background-color: #4A4444; */
	/*color: #EEE; */
	/*background-image: url(/icon/bg-settings.svg);*/

	z-index: -99; 
	transition: all .3s; 
	transform: translateX(100px);
}

.nav-btn {
	position: absolute;
	right: .4rem; 
	top: .4rem; 
}

.blog-container {
	/*position: fixed;*/
	width: 100%; 
	left: 0; 
	top: 0;
	z-index: 100; 
	background-color: white; 
	transition: all .3s; 
	
	box-shadow: 1px 0 16px rgba(0, 0, 0, .5);

	transform: translateX(0px);
}

.nav-active {
	transform: translateX(-320px);
}

.nav-active + .nav-container {
	transform: translateX(0px);
}

/**/

.nav-container {
	font-size: 0; 
}

.nav-container * {
	font: inherit;
}

.nav-container > * {
	font-size: .4rem; 
	display: inline-block; 
	width: 50%; 
	height: 4em; 
	line-height: 2em; 
	text-align: center; 
}

.nav-container .for-tab {
	position: absolute;	
	width: 50%; 
	height: 4em; 
	top: 0; 
	opacity: 0; 
	cursor: pointer; 
}

.for-about {
	left: 0; 
}

.for-list {
	left: 50%; 
}

.nav-container .tab {
	position: fixed;
	text-align: center;
	line-height: 1; 
	top: 4em; 
	width: 100%; 
	z-index: -98; 
	text-align: left; 
}

.transition-all {
	transition: all .3s; 
}

.nav-container .about {
	left: -95%; 
	opacity: .4;
}

.nav-container .list {
	left: 95%; 
	opacity: .4;
}

.for-tab:checked ~ .tab {
	left: 0; 
	opacity: 1; 
}

.for-tab-title {
	color: #FFF; 
	font-size: 20px; 
	transition: all .3s; 
}

[has-bg] {
	text-shadow: 0px 1px 1px #222, 0px 1px 1px #222; 
}

.for-tab:checked ~ .for-tab-title {
	color: #FFF; 
}

/*  */

.about {
	/*background-color: white; */
	/*height: 100%; */
}

.bg-container {
	position: relative;
	margin-top: -4em; 
	padding-top: 100%; 
	box-sizing: border-box;
	height: 240px; 
	background-image: url(http://source.ijarvis.cn/blog/test/r.png?imageView2/2/w/9999/h/2000/q/100|imageslim);
	background-repeat: no-repeat;
	background-position: center 23%;
	background-size: 100%;
}

.bg-container .name {
	font-size: 36px; 
	text-align: right; 
	color: #FFF; 
}

.bg-inner {
	position: absolute;
	bottom: 0;
	left: 0; 
	width: 100%; 
	box-sizing: border-box;
	padding: 10% 8%; 
}

.links {
	padding: 8% 10%; 
	box-sizing: border-box;
}

.link {
	display: block; 
	font-size: 0; 
	margin-bottom: 14px; 
}

.link::after {
	content: "<"; 

}

.link > img {
	width: 1.6em; 
	padding: 0 .4em; 
} 

.link > * {
	font-size: 20px; 
	display: inline-block;
	vertical-align: middle;
}
