<!doctype html>
<html lang="zh-Hans">
{{include 'html/public/all.html'}}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
	<meta name="keywords" content="vally,blog,code">
	<meta name="description" content="eczn的个人博客">
	<title>The New Vally - eczn's blog</title>
	<script src="/lib/flexible.min.js"></script>
	<link rel="shortcut icon" type="image/x-icon" href="/icon.jpg" media="screen">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/home.css">
	<link rel="stylesheet" href="/css/mq.css">
	<script src="/lib/zepto.min.js"></script>
	<script src="/js/mark-vally.js"></script>
</head>
<body>
	{{include 'html/public/nav.html'}}
	<div class="top"></div>
	<div class="container">
	
		<article class="md">
			<div class="title">
				<!-- 0v0 -->
				<!-- <p class="time">1485879811000</p> -->
				<h3 class="time">Vally-Sys</h3>
				<h1 class="title-content">Links 友链</h1>
			</div>
			
			<h1 style="text-align: center;max-width: 400px;margin: 60px auto 0 auto;">
				
				<a href="/" target="_blank">Vally - eczn's blog</a>
			</h1>
			<img style="max-width: 80px;" src="/icon.jpg" alt="blog">

			<h1 style="text-align: center;max-width: 400px;margin: 60px auto 0 auto;">
				<a href="http://qun.torzo.club" target="_blank">Torzo Club - 同装会</a>
			</h1>
			<img style="max-width: 80px;" src="/images/torzo-logo.jpg" alt="site">

			<h1 style="text-align: center;max-width: 400px;margin: 60px auto 0 auto;">
				<a href="https://zhangxiang958.github.io" target="_blank">翔のBlog</a>
			</h1>
			<img style="max-width: 80px;" src="http://7xns9g.com1.z0.glb.clouddn.com/015630179.jpg" alt="site">
			
			<h1 style="text-align: center;max-width: 400px;margin: 60px auto 0 auto;">
				<a href="http://pache.blog/" target="_blank">Vec Pache</a>
			</h1>
			<img style="max-width: 80px;" src="http://pache.blog/pache.svg" alt="Vec Blog">

			<h3 style="text-align: center;max-width: 400px;margin: 60px auto;color: #DFD">
				<s>以上企业及个人均已破产</s>
			</h3>
		</article>
	

		{{include 'html/public/footer.html'}}
	</div>
	{{include 'html/public/ga.html'}}
</body>
</html>   
