<header id="main-header">
	<div class="header-msg">
		<h1>ASOB - eczn's blog</h1>
	
		<div class="arch-hook">
			{{each archName as name ai }}
				<span><a href="/blog/{{name}}/index.html">{{name}}</a></span>
			{{/each}}
			
		</div>

		<p>static edition</p>
	</div>

	<div class="about">
		<span><a href="/blog/noname/about.html">About</a></span>
		<span><a href="/blog/noname/history.html">History</a></span>
		<span><a href="/blog/all">All</a></span>
		<span><a href="/index.html">Home</a></span>
	</div>
</header>
