<style>
	#main-nav {
		background-image: url('/images/bgc.jpg');
		background-position: left;
		background-clip:content-box;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	@media screen and (max-width: 700px){
		#main-nav .about {	
			background-color: rgba(255,255,255,0.5);
		}
	}

	.about > span > #_about[is-show=√] {
		/*opacity: .5;*/
		/*color: #000; */
		font-weight: bold;
	}
</style>

<nav id="main-nav">
	<div class="nav-msg">
		<h1>varEczn*</h1>
	
		<div class="arch-hook">
			<span><a href="/blog/code/index.html">Code</a></span>
			<span><a href="/blog/life/index.html">Life</a></span>
			<span><a href="/blog/noname/index.html">Null</a></span>
		</div>

		<p>Keep Calm and Carry On</p>
	</div>

	<div class="about">
		<span><a id="_about" href="#">About</a></span>
		<span><a href="/blog/all/history.html">History</a></span>
		<span><a href="/blog/all">All</a></span>
		<span><a href="/links.html">Links</a></span>
	</div>
</nav>
