<nav id="main-nav">
	<div class="nav-msg">
		<h1>Vally - Eczn's blog</h1>
	
		<div class="arch-hook">
			<span><a href="/blog/code/index.html">Code</a></span>
			<span><a href="/blog/life/index.html">Life</a></span>
			<span><a href="/blog/noname/index.html">Null</a></span>
		</div>

		<p>Very undefined experience</p>
	</div>

	<div class="about">
		<span><a href="/blog/all/about.html">About</a></span>
		<span><a href="/blog/all/history.html">History</a></span>
		<span><a href="/blog/all">All</a></span>
		<span><a href="/index.html">Home</a></span>
	</div>
</nav>
