<!doctype html>
<html lang="zh-Hans"> 
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>	
	<meta name="keywords" content="{{blog.info.tags.join(', ')}}">
	<meta name="description" content="{{blog.info.intro}}">
	<meta name="twitter:title" content="{{blog.info.title}}">	
	<meta name="twitter:description" content="{{blog.info.intro}}">
	<title>{{blog.info.title}} - eczn's blog</title>
	<script src="/lib/flexible.min.js"></script>
	<link rel="shortcut icon" type="image/x-icon" href="icon.jpg" media="screen" >
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/mark-vally.css">
	<link rel="stylesheet" href="/css/mq.css">
	<script src="/lib/zepto.min.js"></script>
</head>
{{if blog.info.textPlain}}
	<style>
		article.md > p {
			text-indent: 2em; 
			/*font-size: 1.1rem; */
		}
	</style>
{{/if}}
<body>
	{{include 'html/public/header.html'}}
	<article class="md">
		<div class="title">
			<time class="time">{{blog.info.date | yyyymmdd}}
			{{each blog.info.tags tag i}}
			<span class="tag">{{tag}}</span>
			{{/each}}
			</time>

			<span class="title-content">{{ blog.info.title }}</span>
			<hr />
		</div>
		
		{{if blog.info.headPic}}
		<div style="background-image: url({{blog.info.headPic}});" class="head-pic">
			<!-- <img src="{{blog.info.headPic}}" alt=""> -->
		</div>
		{{/if}}
		{{@ blog.content }}
	</article>
	
	<div style="margin: 3rem auto;" class="md">
		<hr />
		<span class="eof">完 :: EOF</span>
		<p style="margin: 0 0 1rem 0;color: #666;">分类于 <a href="{{blog.info.categoryLink}}?id={{blog.info.id}}">{{blog.info.category}}</a></p>
		
		<style>
			
		</style>

		<div class="btns">
			<a class="gotohome" href="{{next.info.link}}"><p>下一篇: {{next.info.title}}</p></a>
			<a class="gotohome" href="/"><span class="return">&lt; 回首页</span></a>
		</div>
	</div>
	
	<div class="img-dis display-none">
		<img alt="">
	</div>
	
	<div class="comment">
		<!-- <p>茶馆id {{blog.info.id}}</p> -->
		<div class="cm-article" data-key="{{blog.info.id}}"></div>
		<link rel="stylesheet" href="//comment.moe/dest/static/css/plus.css">
		<script src="//comment.moe/dest/static/js/build.js" charset="UTF-8"></script>
	</div>
	
	{{include 'html/public/footer.html'}}

	<script src="/lib/fastclick.min.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function(){
			FastClick.attach(document.body);
			console.info('Fastclick Ready');
		}, true);
	</script>
	{{include 'html/public/ga.html'}}
</body>
</html>
