/* blog.css*/
.title {
	text-align: center;
	margin-bottom: 78.539815px; 
}
.title > .title-content {
	font-size: 1.8rem;
}

.time {
	color: #AAA;
	font-size: 10px;
}

.comment a {
	color: #444;
	text-decoration: none;
}
.comment a:hover {
	/*color: #444;*/
	text-decoration: underline;
}

.comment {
	max-width: 600px;
	margin: 0 auto;
	color: #444; 
}
.comment summary {
	margin-left: 2rem;
}

/* Re */
.cm-submit > button {
    cursor: pointer!important;
    font-weight: normal!important;
    border: 1px dashed!important;
    padding: 0 .8em!important;
    border-radius: 1em;
    color: #aab!important;
    background: none!important;
}

@media screen and (max-width: 960px) {
	.blog-bottom  {
		width: 90%;
		border: none;
	}
}

.blog-bottom {
	text-align: justify;
	word-wrap: break-word;
	max-width: 700px; 
	margin: 4rem auto 7rem auto;	

} 

.blog-bottom > .gotohome {
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	color: #444;
	/*font-size: 2rem; */
	display: inline-block;
	font-size: 1.4rem; 
	font-family: "Consolas", "Lucida Console", "Monaco", "Menlo", Courier; 		
}

