/*arch.css*/
.arch-container {
	display: block;
	max-width: 700px; 
	margin: .4rem auto; 
}

.arch a {
	color: #444; 
	text-decoration: none; 
}
.arch a:hover {
	text-decoration: underline;
}


.arch-container > div {
	padding-bottom: 20px; 
	padding: 20px 30px;
}

.arch {
	-moz-page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
	max-width: 700px; 
	margin: .4rem auto; 
}

@media screen and (min-width: 960px){
	.arch-container {
		column-count: 2;
	}
	/*.arch {
		width: 50%; 
	}*/
}

.update-time {
	/*color: rgba(68, 68, 102, .55);*/
	color: #AAA; 
	font-size: 10px
}

.arch > ul {
	/*margin-left: 4em;*/
	position: relative; 
	padding: 0 16px; 
	list-style: none; 
}

/* blog link & time contanier */
.arch > ul > li {
	position: relative; 
	height: 4em;
	text-align: left; 
	font-size: 20px; 
}




.arch > ul > li:after {
	content: ""; 
	position: absolute;
	width: 6px; 
	height: 6px; 
	border-radius: 12px;
	left: -18px; 
	top: 10px;
	background-color: rgba(185,190,205,1); 

	box-shadow: 0 0 4px #fff; 
}

.arch > ul:after {
	content: ""; 
	position: absolute; 
	height: 100%; 
	width: 2px; 
	left: 0; 
	top: 0; 
	background-color: rgba(187, 187, 195, 0.6); 
}

/* blog link */
.arch > ul > li > a {
	color: rgba(68, 68, 102, .818);
	font-size: 18px;
}

.arch > h1 {
	white-space: nowrap;
	font-size: 1.5rem; 
	margin: .4rem 0; 
}
