/* home.css */
/* blog list */
.blog-ul {
	color: #444;
	max-width: 700px; 
	margin: 0 auto;
	list-style: none;
}

.blog-ul > li {
	position: relative;
	padding: 1.5rem 1rem 2rem 1rem; 
	border-bottom: 1px dashed rgba(0, 0, 30, .3);
	margin-bottom: 1px; 
}

@media screen and (max-width: 700px) {
	.blog-ul > li {
		padding: 1rem 1.5rem 1.5rem 1.5rem; 
	}
}



.blog-ul a:after {
	content: "#"; 
	display: block;
	position: absolute;
	font-size: 1.8rem; 
	font-weight: normal;
	right: 0; 
	top: 4px;
}


.blog-ul a:hover {
	opacity: .9;
}

.blog-ul a:hover::after {
/*	content: ">"; 
	font-size: 72px; 
	top: -26px; 
	right: -16px;*/
	/*color: rgba(102, 68, 68, .8);*/
}

.blog-ul a {
	color: #444;
	display: block;
	position: relative;
	text-decoration: none;

}

/* 0v0 */
.blog-ul a:hover .item-title {
	/*color: #644; */
	text-decoration: underline;
}

.blog-ul .item-title {
	display: block;
	font-size: 1.5rem; 
	padding: .2em 0;
}

.blog-ul .item-intro {
	font-size: 1rem; 
	padding: .2em 0; 
	color: #555; 
	text-align: justify;
	text-decoration: none!important;
	line-height: 1.5; 
	width: 95%; 
}
.blog-ul .item-intro:hover {
	text-decoration: none!important;
}
.blog-ul .item-time {
	font-size: .8rem; 
	color: #AAA; 
}

.blog-ul .item-tags {
	font-size: .8rem; 
	color: #AAA; 
	background: none; 
}

/* bottom page button */
.pageNum-container a {
	text-decoration: none;
}

.pageNum {
	margin: 0 5px;
	display: -webkit-inline-box;
	display: inline-flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align:center;
	align-items: center;

	width: 2.4rem;
	height: 2.4rem; 
	border-radius: 11rem;
	border: 3px dotted rgba(102, 68, 68, .618);
	cursor: pointer;
	transition: all .3s;
	color: #444;
}
.pageNum > span {
	font-family: Courier; 
	font-size: 1.5rem; 
	font-weight: bolder;
	margin-top: 2px;
	display: inline-block;
}

.pageNum:hover {
	color: rgba(97, 83, 120, .5);
	border: 3px dotted rgba(102, 68, 68, .3);
}

.pageBtn-active {
	color: #FFF;
	background-color: #644; 
}

