* {
	margin: 0; 
	padding: 0; 
	font-weight: normal;
}

body {
	color: #444;
	border-top: .04rem dashed rgba(0, 0, 30, .3); 
	font-family: "PT Sans", Menlo, Consolas, "-apple-system", BlinkMacSystemFont,"微软雅黑", Verdana, Arial, Helvetica, sans-serif;
	transition: padding .65s;
}

.md a {
	color: #446;
	text-decoration: none;
	/*border-bottom: 1px dashed;*/
}

.red {
	color: #955; 
}

.color446 {
	color: #446; 
}

strong {
	font-weight: bold;
}

nav {
	max-width: 700px; 
	margin: 0 auto;
}

.nav-msg {
	margin: 20px 0;
	padding: 0 .8rem; 
}
.nav-msg > h1 {
	font-size: 1.8rem;
	font-weight: normal;
	display: inline-block;
}
.nav-msg > p {
	margin: 6px 0;
	font-size: 0.8rem;
}

.arch-hook {
	float: right;
	display: inline-block;
	font-size: .8rem;
}

.arch-hook * {
	color: white;
}

.arch-hook a, .about a {
	
	text-decoration: none; 
	border-bottom: none;
}
.about a {
	color: #444;
}

.arch-hook span {
	display: inline-block;
	margin: 8px .5em;
	margin-bottom: .8em;
	padding: .3em .6em;
	color: white;
	background-color: #644;
	border-radius: 5px;
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.about {
		text-align: right;
		margin-top: -.4rem;
		border-bottom: 1px dashed rgba(0, 0, 30, .3); 
	}
}
@media screen and (max-width: 768px) {
	.about {
		text-align: center;
		border-top: 1px dashed #DDD;
		border-bottom: 1px dashed #DDD;
	}

	.main {
		width: 80%;
		padding: 0 5%; 
	}

	header h1, header p {
		width: 80%;
		padding: 0 5%;
	}
	.arch-hook {
		margin-right: 4%;
	}
}

.about > span {
	display: inline-block;
	margin: 8px 1rem;
	font-size: 12px;
}

.pageNum {
	margin: 0 5px;
	display: -webkit-inline-box;
	display: inline-flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align:center;
	align-items: center;

	width: 2.4rem;
	height: 2.4rem; 
	/*width: calc(2.2rem - 3px * 2);*/
	/*height: calc(2.2rem - 3px * 2);*/
	border-radius: 11rem;
	/*border: 3px dotted rgb(60, 45, 80);*/
	border: 3px dotted rgba(59, 59, 70, .618);
	/*box-shadow: 0 1rem 200px #eee;*/
	cursor: pointer;
	transition: all .3s;
	color: rgb(60, 45, 80);
}
.pageNum > span {
	font-family: Courier;
	font-size: 1.5rem; 
	font-weight: bolder;
	margin-top: 3px;
	display: inline-block;
}

.pageNum:hover {
	color: rgba(97, 83, 120, .7);
	border: 3px dotted rgba(59, 59, 70, .3);
	/*border: 2px dashed #555;*/
	transition: all .3s;
}

.pageBtn-active {
	color: #FFF;
	background-color: rgb(60, 45, 80);
}
