* {
	margin: 0; 
	padding: 0; 
	font-weight: normal;
}

body {
	/*font-family: "Heiti SC", "Hiragino Sans GB", "microsoft yahei", "WenQuanYi Microhei", "微软雅黑";*/
	/*color: #446;*/
	color: #446;
	border-top: 2px dashed;
	font-family: "-apple-system", BlinkMacSystemFont, "微软雅黑", "黑体", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	transition: padding .65s;
}

a {
	color: #446;
	text-decoration: none;
	/*border-bottom: 1px dashed;*/
}

/*h1, h2, h3, h4, h5, h6, p {
	color: #446; 
}*/

.red {
	color: #955; 
}

.color446 {
	color: #446; 
}

strong {
	font-weight: bold;
}

header {
	max-width: 960px; 
	margin: 0 auto;
}

.header-msg {
	margin: 20px 0;
}
.header-msg > h1 {
	font-size: 2em;
	font-weight: normal;
	display: inline-block;
}
.header-msg > p {
	margin: 6px 0;
}

.arch-hook {
	float: right;
	display: inline-block;
}
.arch-hook * {
	color: white;
}
.arch-hook a, .about a {
	border-bottom: none;
}

.arch-hook span {
	cursor: pointer;
	display: inline-block;
	margin: 8px .5em;
	padding: .25em .5em;
	background-color: #446;
	color: white;
	border-radius: 5px;
	margin-bottom: .8em;
}

@media screen and (min-width: 768px) {
	.about {
		text-align: right;
		margin-top: -.4rem;
		border-bottom: 1px dashed;
	}
}
@media screen and (max-width: 768px) {
	.about {
		text-align: center;
		border-top: 1px dashed;
		border-bottom: 1px dashed;
	}

	.main {
		width: 80%;
		padding: 0 5%; 
	}

	header h1, header p {
		width: 80%;
		padding: 0 5%;
	}
	.arch-hook {
		margin-right: 4%;
	}
}


.about > span {
	display: inline-block;
	margin: 8px 20px;
	font-size: 12px;
}

.pageNum {
	margin: 0 5px;
	display: -webkit-inline-box;
	display: inline-flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align:center;
	align-items: center;

	width: 1rem;
	height: 1rem; 
	width: calc(1rem - 3px * 2);
	height: calc(1rem - 3px * 2);
	border-radius: 11rem;
	/*border: 3px dotted rgb(60, 45, 80);*/
	border: 3px dotted rgba(59, 59, 70, .618);
	/*box-shadow: 0 1rem 200px #eee;*/
	cursor: pointer;
	transition: all .3s;
	color: rgb(60, 45, 80);
}
.pageNum > span {
	font-family: Courier;
	font-size: .5rem; 
	font-weight: bolder;
	display: inline-block;
}

.pageNum:hover {
	color: rgba(97, 83, 120, .7);
	border: 3px dotted rgba(59, 59, 70, .309);
	/*border: 2px dashed #555;*/
	transition: all .3s;
}

.pageBtn-active {
	color: #FFF;
	background-color: rgb(60, 45, 80);
}

