* {
	margin: 0; 
	padding: 0; 
	font-weight: normal;
}

body {
	color: #444;
	border-top: .04rem dashed rgba(0, 0, 30, .3); 
	font-family: "PT Sans", Menlo, Consolas, "-apple-system", BlinkMacSystemFont,"微软雅黑", Verdana, Arial, Helvetica, sans-serif;
	transition: padding .65s;
}

.md a {
	display: inline-block;
	color: #833;
	font-style: italic;
	text-decoration: none;
	/*border-bottom: 1px dashed;*/
}

p > a {
	/* ..... */
	text-decoration: underline!important;
}

a.markdownIt-Anchor {
	color: #454;
	font-size: 1.5rem; 
	font-style: normal;
	text-decoration: none;
}
a.markdownIt-Anchor:hover {
	text-decoration: underline;
}

.blog-bottom {
	word-wrap: break-word;
	max-width: 700px; 
	margin: 4rem auto 7rem auto;
	color: #446;
} 

.blog-bottom a {
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	color: #464;
	font-size: 2rem; 
}

.blog-bottom span {
	display: inline-block;
}

.blog-bottom-left {
	float: left;
}

.blog-bottom-right {
	float: right;
}

.red {
	color: #955; 
}

.color446 {
	color: #446; 
}


strong {
	font-weight: bold;
}

nav {
	max-width: 700px; 
	margin: 0 auto;
}

.nav-msg {
	/*margin: 20px 0;*/
	padding: 20px 1rem; 
}
.nav-msg > h1 {
	font-size: 1.8rem;
	font-weight: normal;
	display: inline-block;
}
.nav-msg > p {
	margin: 6px 0;
	font-size: 0.8rem;
}

.arch-hook {
	float: right;
	display: inline-block;
	font-size: .8rem;
}

.arch-hook * {
	color: white;
}

.arch-hook a, .about a {
	
	text-decoration: none; 
	border-bottom: none;
}
.about a {
	color: #444;
}

.arch-hook span {
	display: inline-block;
	margin: 8px .5em;
	margin-bottom: .8em;
	padding: .3em .6em;
	color: white;
	background-color: #644;
	border-radius: 5px;
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.about {
		text-align: right;
		margin-top: -.4rem;
		border-bottom: 1px dashed rgba(0, 0, 30, .3); 
	}
}
@media screen and (max-width: 768px) {
	.about {
		text-align: center;
		border-top: 1px dashed #DDD;
		border-bottom: 1px dashed #DDD;
	}

	.main {
		width: 80%;
		padding: 0 5%; 
	}

	header h1, header p {
		width: 80%;
		padding: 0 5%;
	}
	.arch-hook {
		margin-right: 4%;
	}
}

.about > span {
	display: inline-block;
	margin: 8px 1rem;
	font-size: 12px;
}

.pageNum-container a {
	text-decoration: none;
}

.pageNum {
	margin: 0 5px;
	display: -webkit-inline-box;
	display: inline-flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align:center;
	align-items: center;

	width: 2.4rem;
	height: 2.4rem; 
	border-radius: 11rem;
	border: 3px dotted rgba(102, 68, 68, .618);
	cursor: pointer;
	transition: all .3s;
	color: #444;
}
.pageNum > span {
	font-family: Courier; 
	font-size: 1.5rem; 
	font-weight: bolder;
	margin-top: 2px;
	display: inline-block;
}

.pageNum:hover {
	color: rgba(97, 83, 120, .5);
	border: 3px dotted rgba(102, 68, 68, .3);
}

.pageBtn-active {
	color: #FFF;
	background-color: #644; 
}
