/*vallyMD.css*/
/*.blog-display*/ 
.md {
	word-wrap: break-word;
	/*position: relative;*/
	max-width: 960px; 
	margin: 0 auto;
	color: #446;
	/*box-shadow: 0px 4px 4px 4px rgba(0,0,0,.3);*/
	/*border-left: 20px solid transparent;*/
	/*outline: 20px solid rgba(0,0,0,.1);*/
}

@media screen and (max-width: 960px) {
	.md {
		width: 90%;
		/*width: 280px;*/
		margin: 0 auto;
		border: none;
	}
}

.md-title {
	text-align: center;
	font-size: .9rem;
	margin: .2rem;
	font-weight: normal; 
}

.md > p {
	line-height: 1.5; 
	margin: 0 0 1.1em;
}

.md p {
	text-shadow: 0 0 1px rgba(0,0,0,0.1); 
	font-weight: normal;
	font-size: .33rem;
}
.md h1 , .md h2 , .md h3, .md h4, .md h5, .md h6 {
	position: relative;
	color: rgb(55, 45, 75);
	font-weight: normal;
	text-shadow: 0 0 1px rgba(0,0,0,0.1); 
	margin-top: 24px; 
}

.md h1 {
	font-size: .55rem;
	margin-bottom: 0.15rem;
	margin-top: .3rem; 
}
.md h1:before {
	content: ""; 
	position: absolute;
	bottom: -0.15rem; 
	height: 2px; 
	background: linear-gradient(
		to right,
		rgba(31,18,50, .15),
		rgba(31,18,50, .15),
		transparent
	);
	border-radius: 0 0 0 1rem / 0 0 0 .01rem;
	margin-bottom: 0.1rem;
	padding-left: .3rem;
	margin-left: -.3rem;
	width: 12em;
	font-size: .65rem;
}

.md h2 {
	font-size: .5rem;
}
.md h3 {
	font-size: .35rem;
}

.md blockquote h2, .md blockquote h3, .md blockquote h4 {
	margin-left: 10px; 
	display: inline-block;
	margin-bottom: 0.1rem; 
}
.md blockquote h2:before, .md blockquote h3:before, .md blockquote h4:before {
	content: ""; 
	position: absolute;
	left: -10px;
	top: 0; 
	width: 10px; 
	height: 10px; 
	border-top: 2px solid rgba(31,18,50, .8);
	border-left: 2px solid rgba(31,18,50, .8);
}
.md blockquote h2:after, .md blockquote h3:after, .md blockquote h4:after {
	content: ""; 
	position: absolute;
	right: -10px;
	bottom: 0; 
	width: 10px; 
	height: 10px; 
	border-right: 2px solid rgba(31,18,50, .8);
	border-bottom: 2px solid rgba(31,18,50, .8);
}


.md blockquote {
	margin: .15rem 1%;
	width: 94%;
	/*margin: .15rem calc( (0.3em + 10px) * -1 );*/
	padding: .3em 1%;
	/*border-left: 10px rgba(60, 45, 80, 1) solid; */
	border-left: 10px rgba(100, 80, 110, 1) solid; 
	background-color: rgba(60, 45, 80, .1);
	border-radius: 4px 0 0 4px;
}

blockquote p:last-child {
	margin: 0;
	margin-left: 0.2em;
	margin-bottom: 0.5em;
}


.md > ol, .md > li, .md > ul {
	margin-left: 1.1em;
	font-size: .35rem;
}

/*.md ul li {
	color: rgba(31,18,50, .8);
}*/

.md blockquote ul, .md blockquote ol {
	margin-left: 1.1em;
	font-size: .35rem;
}

.md ol {
	list-style-type: decimal;
}
.md li ol {
	list-style-type: lower-alpha;	
}
.md ul {
	list-style-type: disc;
}
.md li ul {
	list-style-type: circle;	
}

.md blockquote * {

}

.md blockquote strong {
	/*color: rgb(31,18,50);*/
	display: inline-block;
	font-size: .4rem; 
	margin: 4px 0; 
}

.md a {
	text-decoration: none;
	color: rgba(150, 50, 30, 1);

	margin: .15rem 0;
	padding: 0 .3em;

	border-left: 2px rgb(150, 50, 30) dotted;
	border-radius: 8px 0 0 0;
	border-bottom: 2px dotted transparent;
	/*transition: all .3s;*/
}

.md a:hover {
	border-radius: 1em 0 0 12px;
	border-bottom: 2px dotted rgb(150, 50, 30);
	color: rgba(150, 50, 30, .6);
	/*transition: all .2s;*/
}
	
.md > hr, .md-hr {
	border: .04rem dashed rgba(0, 0, 30, .3); 
	margin: .5rem auto .8rem auto;
}

/* =============== */
/*    markVally    */
/*     images      */

.md img {
	display: block;
	/*width: 90%;*/
	max-width: 960px;
	margin: 0 auto;
	cursor: pointer;
}

blockquote img {
	width: 80%;
}

@media screen and (max-width: 960px) {
	.md img {
		width: 90%;
	}
}
