/*vallyMD.css*/
/*.blog-display*/ 
.md {
	word-wrap: break-word;
	line-height: 1.5;
	max-width: 700px; 
	margin: 0 auto;
	/*color: #222;*/
}
.md p {
	word-wrap: break-word;
}

@media screen and (max-width: 960px) {
	.md {
		width: 90%;
		margin: 0 auto;
		border: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
h2 {
	font-size: 1.3rem;
}

p {
	font-weight: normal;
}

.md {
	max-width: 700px;
	margin: 0 auto;
	line-height: 1.5;
	position: relative;
}

.md > h1 {
	/*font-size: 1rem;*/
	position: relative;
	margin: .6em 0; 
	/*border-bottom: 2px dashed #CCC;*/
}

.md > h1:after {
	content: ""; 
	position: absolute;
	/*margin: 2em 0;*/
	left: 0;
	bottom: 0; 
	width: 100%; 
	height: 3px;
	background-color: #DDD;
	background-image: repeating-linear-gradient(
		-45deg,
		#FFF,#FFF 4px,
		transparent 4px,
		transparent 8px
	);
}

.md > h2 {
	margin: .6em 0; 
}

.md > p > code, li > code {
	font-family: Menlo, "Consolas", "微软雅黑";
	padding: .2em .5em;
	border: 1px dashed #BBB;
	border-radius: 4px;
}

.md li > code {
	padding: 0em .4em;
}

.md > ul {
	list-style: none;
	/*position: relative;*/
}

/*======  List  ======*/
/*    .md u/ol > li   */
/*    .md > u/ol      */
/*    .md li > u/ol   */
/*====================*/
.md ul > li {
	position: relative;
	margin: 0.1em 0; 
	font-size: inherit;
}

.md li > ul {
	list-style: circle;
	display: inline-block;
	vertical-align: top;
	padding-left: 1.5em;
	/*position: relative;*/
}

.md li > ul > li:before {
	/*display: inline-block;*/
	/*left: 0;*/
}

.md > ul > li:before {
	content: "> "; 
	font-family: "PT Sans", Consolas; 
	/*font-family: Meiryo, Courier;*/
	/*background-color: #BBB;*/
	left: 0; 
	top: 0;
}

.md > ol {
	position: relative;
	margin-left: 2em;
	font-size: inherit;
}

/*====== blockquote ======*/
.md > blockquote {
	max-width: 80%;
	display: inline-block;
	/*margin: 0 auto;*/
	padding: 0.8em 10%; 
	font-size: 1.2rem;
	position: relative;
	vertical-align: top;
}
.md > blockquote:before {
	content: "“";
	left: 0; 
	font-size: 2rem;
	top: 0;
	position: absolute;
	display: inline-block;
}
.md > blockquote:after {
	content: "”"; 
	right: 0; 
	font-size: 2rem;
	bottom: -0.5em; 
	position: absolute;
	display: inline-block;
}

.md > blockquote > ul {
	list-style-type: circle;
	padding-left: 1em;
}
.md > blockquote > ol {
	list-style-type: katakana-iroha;
	padding-left: 1.8em;
}

.md > blockquote strong {
	font-size: 1.5rem;
}

.md > blockquote code {
	font-family: Menlo, "Consolas", "微软雅黑";
	padding: 1px .4em;
	border: 1px dashed #BBB;
	border-radius: 4px;
}

.md > hr {
	margin: 2em 0;
	height: 3px;
	border: none;
	background-color: #DDD;
	background-image: repeating-linear-gradient(
		-45deg,
		#FFF,#FFF 4px,
		transparent 4px,
		transparent 8px
	);
}


/* =============== */
/*    markVally    */
/*     images      */

.md img {
	display: block;
	/*width: 90%;*/
	max-width: 700px;
	margin: 1.5rem auto 0 auto;
	cursor: pointer;
}

.md img + mark {
	display: block;
	background: none;
	font-size: 10px;
	text-align: center;
	color: #AAA; 
	margin-bottom: 1.5rem;  
}

sub[more] {
	cursor: pointer;
}

#vally-foot {
	max-width: 700px; 
	color: #555;
	word-break: break-all; 
}

blockquote img {
	width: 80%;
}

@media screen and (max-width: 960px) {
	.md img {
		width: 90%;
	}
}

.img-dis {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .5);
	text-align: center;
	font-size: 1%; 
	opacity: 0; 
	transition: opacity 0.3s;
}

.img-dis img {
	/*display: inline-block;*/
	max-width: 90%;
	max-height: 90%;
	/*margin: 0 auto;*/
	cursor: pointer;
}

.opa1 {
	opacity: 1; 
}

.display-none {
	display: none; 
}


/*=====*/


.md .line-count {
	margin-right: 1em; 
	color: rgba(255,245,240,.5);
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.md pre {
	position: relative;
	overflow-x: auto;	
	background-color: rgb(46, 46, 46);
	/*left: -5%;*/
	/*width: 110%;*/
	padding: 4px 8px; 
	margin: 4px 0; 
	overflow-wrap: normal;
}

.md pre code:after {
	content: "[ codeBoard v0.2.1 ]"; 
	position: absolute;
	bottom: 5px;
	color: gray;
	left: 0; 
	width: 100%; 
	text-align: center;
	
	font-size: .8rem; 
	line-height: .6rem;
}

.md pre code {
	font-size: .8rem;
	/*overflow-wrap: normal;*/
	font-family: "Consolas", "Lucida Console", "Monaco", "Menlo", Courier; 
	display: block;
	border: none;
	color: white; 
}
