@import "../global/reset"; 
@import "../global/vars";

a {
    color: $main-color; 
}

header {
    transition: all .3s; 
    color: #555; 
    font-size: .3rem; 
    margin-top: 4rem; 
    margin-bottom: 4rem; 
    text-shadow:
         8px  4px 0 #FFFFFF, 
        16px  8px 0 rgb(214, 214, 214); 

    h1 {
        font-size: 400%; 
    }
}

footer {
    font-size: .3rem; 
    .pages {
        > a {
            text-decoration: none; 
            display: inline-block;
            font-size: 260%; 
            color: #BBB; 
            
            &.now-at {
                color: #555; 
            }
        }
    }
}

.blogs {
    max-width: 600px; 
    margin-left: auto; 
    margin-right: auto; 

    padding-left: 1em; 
    padding-right: 1em;
    box-sizing: border-box;  

    > .blog {
        color: #222; 
        font-size: .3rem; 
        list-style: none; 
        position: relative;
        margin-bottom: 3em; 

        .title {
            display: block; 
            position: relative;
            font-size: 200%; 
            text-decoration: none; 
            overflow: hidden;

            .count {
                position: absolute; 
                z-index: -1;
                font-size: 75%; 
                left: 0; 
                top: 50%; 
                transform: translateY(-50%); 
                color: #F2F2F2; 
                white-space: nowrap; 
            }
        }

        .tags {
            color: #555; 
            > * {
                display: inline-block; 
            }

            .tag {
                
            }
        }
    }
}
