<!doctype html>
<html lang="zh-Hans">
{{include 'html/public/all.html'}}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
	<meta name="keywords" content="vally,blog,code,分类">
	<meta name="description" content="eczn的个人博客归档">
	<title>所有分类 - eczn's blog</title>
	<script src="/lib/flexible.min.js"></script>
	<link rel="shortcut icon" type="image/x-icon" href="icon.jpg" media="screen" >
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/category.css">
	<link rel="stylesheet" href="/css/mq.css">
	<script src="/lib/zepto.min.js"></script>
	<script src="/js/mark-vally.js"></script>
</head>
<body>
	<div class="top"></div>
	<div class="container">
		<header>
			<h1>所有分类</h1>
			<p intro>[{{categories.length}} 类] => [共 {{count4all}} 篇]</p>
		</header>

		<ul class="blogs">
			{{each categories cate idx}}
			<a href="{{cate.name}}.html">
				<li class="blog cate">
					<div class="title">
						<span class="content">&gt; {{cate.name}}</span>
						<span class="count">[共 {{cate.count}} 篇]</span>
					</div>
				</li>
			</a> 
			{{/each}}
		</ul>
	</div>

	<script src="/lib/fastclick.min.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function(){
			FastClick.attach(document.body);
			console.log('fastclick is ready');
		}, false);
	</script>
	{{include 'html/public/ga.html'}}
</body>
</html>
