<!doctype html>
<html lang="zh-Hans">
{{include 'html/public/all.html'}}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
	<meta name="keywords" content="vally,blog,code,分类">
	<meta name="description" content="eczn的个人博客归档">
	<title>The New Vally - eczn's blog</title>
	<script src="/lib/flexible.min.js"></script>
	<link rel="shortcut icon" type="image/x-icon" href="icon.jpg" media="screen" >
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/category.css">
	<link rel="stylesheet" href="/css/mq.css">
	<script src="/lib/zepto.min.js"></script>
	<script src="/js/mark-vally.js"></script>
</head>
<body>
	<div class="top"></div>
	<header>
		<h1>{{cateName}} <sub>[共 {{blogs.length}} 篇]</sub> </h1>
		<p intro>{{cateIntro}}</p>
	</header>

	<ul class="blogs">
		{{each blogs blog idx}}
		<a href="{{blog.info.link}}">
			<li class="blog cate">
				<div class="time">
					{{blog.info.date | yyyymmdd}}
				</div>
				<div class="title">
					<span class="content">{{blog.info.title}}</span>
					<span class="intro">{{blog.info.intro}}</span>
				</div>
				{{each blog.info.tags tag}}
				<span class="tag">#{{tag}}</span>
				{{/each}}
			</li>
		</a>
		{{/each}}
	</ul>

	<script src="/lib/fastclick.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function(){
			FastClick.attach(document.body);
			console.log('fastclick is ready');
		}, false);
	</script>
	{{include 'html/public/ga.html'}}
</body>
</html>
