<!-- 
___      ___  ______     ______    _______    ______  ______          ___
\  \    /  /  \___  \   / ___ /   / ____ /   /  ___/ /__  /     /\    / /
 \  \  /  /  ____/  /  /  __ /   / \__      / /       _/ /_    /  \  / /
  \  \/  /  /  __  /  / /\ \    / /___     /  \____   / /__   / /\ \/ /
   \_   /   \___  /   _/  \ \  / ______\  / /\____/  /____ \ / /  \ _/
      \/        \/         \/  \/         \/              \/ \/
                 =====================================
                            varEczn*'s Blog
                              2016 ~ 2017
                 =====================================
-->
