<style>
	#main-nav {
		/*background-image: url('/images/bgc.jpg');*/
		background-position: left;
		background-clip:content-box;
		background-repeat: no-repeat;
		background-position: center;

		border-bottom: 1px dashed #BBB; 
		position: relative;
		margin-bottom: 4em; 
	}

	.nav-msg h1 {
		font-size: 1rem; 
		font-weight: normal;
	}

	.nav-msg p {
		color: #BBB;
		/*margin-top: -.7em;*/
		margin-left: .3em; 
		margin-bottom: 1em; 
	}
	
	.arch-hook {
		margin-bottom: 1.5em; 
	}

	.arch-hook > span {
		display: inline-block;
		margin-right: 1em; 
		font-size: .3rem; 
		background-color: #BBB;
		color: #FEFEFE; 
		padding: .3em .6em;
		border-radius: 4px; 
	}

	a {
		color: inherit;
	}
	
	.about {
		position: absolute;
		background-color: #FFF;
		right: 0; 
		bottom: -.5em;
		top: 0;
	}

	.about > span {
		display: block;
	}


</style>

<nav id="main-nav">
	<div class="nav-msg">
		<h1><span style="color: #BBB;">var</span>Eczn*<span style="color: #BBB;">s Blog</span></h1>
		<p>Stay ... Stay ... </p>

		<div class="arch-hook">
			<span><a href="/categories">Categories</a></span>
			<span><a href="/blog/Vally%20and%20Me.html">About</a></span>
			<span><a href="/Links.html">Links</a></span>
		</div>
	</div>

<!-- 	<div class="about">
		<span><a id="_about" href="#">About</a></span>
		<span><a href="/blog/all/history.html">History</a></span>
		<span><a href="/blog/all">All</a></span>
		<span><a href="/links.html">Links</a></span>
	</div> -->
</nav>
