<!doctype html>
<html lang="zh-CN"> 
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
	
	{{if blog.info}}
		{{if blog.info.tags}}
			<meta name="keywords" content="{{blog.info.tags}}">
		{{/if}}
	{{/if}}
	{{if blog.info}}
		{{if blog.info.intro}}
			<meta name="description" content="{{blog.info.intro}}">
		{{/if}}
	{{/if}}
	<title>{{blog.title}}</title>
	<link rel="stylesheet" href="/css/rem.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/blog.css">
	<link rel="stylesheet" href="/css/mark-vally.css">
	<link rel="stylesheet" href="/css/monokai_sublime.min.css">
	<script src="/js/zepto.min.js"></script>
</head>
<body>
	{{include '../public/header'}}
	<article class="md">
		<div class="title">
			<!-- 0v0 -->
			<!-- <p class="time">{{+blog.stat.birthtime}}</p> -->
			<p class="time">{{dateFormat(blog.stat)}}</p>
			<h1>{{ blog.info.title }}</h1>
		</div>
		{{ blog.md }}
	</article>
	
	<div class="blog-bottom">
		<a href="/">← GotoHome</a>
	</div>

	<div class="img-dis display-none">
		<img alt="">
	</div>

	<aside style="width: 700px;margin: 0 auto;">
		<!-- 在需要展示评论框处插入 -->
		<div class="cm-article" data-key="{{blog.id}}"></div>
		<!-- </body> 标签结束前插入 -->
		<link rel="stylesheet" href="//comment.moe/dest/static/css/plus.css">
		<script src="//comment.moe/dest/static/js/build.js" charset="UTF-8"></script>
	</aside>

	{{include '../public/aside'}}
	{{include '../public/footer'}}
</body>

<style>
	.blog-bottom {
		word-wrap: break-word;
		max-width: 700px; 
		margin: 0 auto;
		color: #446;
	}
</style>

<script src="/js/fastclick.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', function(){
		FastClick.attach(document.body);
		console.log('fastclick is ready');
	}, false);
</script>
<script src="/js/markVally.js"></script>
{{include '../public/ga'}}
</html>
