<!doctype html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
	<title>{{blog.title}}</title>
	<script src="/js/flexible.js"></script>
	<script src="/js/flexible_css.js"></script>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/blog.css">
	<link rel="stylesheet" href="/css/mark-vally.css">
	<link rel="stylesheet" href="/css/monokai_sublime.min.css">
	
</head>
<body>
	<!-- <header> -->
	<!-- </header> -->
	
	<h1 class="title">{{ blog.title }}</h1>	
	<div class="md">{{ md }} <hr /> </div>
	
	<div class="blog-bottom">
		<a href="/">← GotoHome</a>
	</div>

	<div class="img-dis display-none">
		<img alt="">
	</div>

	{{include '../public/footer'}}
</body>
<script src="/js/fastclick.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', function(){
		FastClick.attach(document.body);
		console.log('fastclick is ready');
	}, false);
</script>
<script src="/js/zepto.min.js"></script>
<script src="/js/markVally.js"></script>
</html>
