<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Categories</title>
	{{ style name }}

</head>
<body>
	<form>
		<div class="cates-container">
			<ul class="cates">
				<li class="cate-li see-all">
					<input type="radio" name="___" class="choose-area" />

					<div class="cate-name">查看全部<span class="count">[{{ allLength }}]</span></div>

					<div class="cate-inner">
						<div class="wrap">
							<button class="reset-btn" type="reset">Return</button>
							<p class="cate-intro">查看全部文章</p>	
							<a href="/pages/0">查看详细</a>
						</div>
					</div>
				</li>

			{{ get (cateName, idx) >>>> cateNames }}
				{{ let 'catedBlog getPropertyOf cates cateName }}
				{{ let 'first catedBlog.0 }}
				<li class="cate-li">
					<input type="radio" name="___" class="choose-area" />

					
					<div class="cate-name">{{ cateName }}<span class="count">[{{ catedBlog.length }}]</span></div>

					
					

					<div class="cate-inner">
						<div class="wrap">
							<button class="reset-btn" type="reset">Return</button>
							<p class="cate-intro">{{ first.cateIntro }}</p>	
							<a href="/cates/{{ cateName }}">查看详细</a>
						</div>
					</div>
				</li>
			{{ teg }}
			</ul>
		</div>
	</form>
</body>
</html>