<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>eczn's blog</title>
	{{ style name }}
</head>
<body>
	<header>
		<div inner>
			<h1 title>{{ config.blog.title }}</h1>
			<img right src="https://avatars2.githubusercontent.com/u/13131724" />
		</div>
	</header>
	
	<div class="main-align">
		<!-- {{ asideRender config }} -->

		<ul class="blogs">
		{{ get (blog, idx) >>>> blogs }}
			<li>
				<a title href="/blogs/{{ blog.ts }}">{{ blog.title }}</a>
				{{ blog.intro }}
			</li>
		{{ teg }}
		</ul>
	</div>
	
	<!-- Footer -->
	<footer class="pages">
		<div inner>
		{{ get (btn, idx) >>>> pageBtns }}
			<li class="page-btn {{ isActive btn.now }}">
				<a href="{{ makeLink btn.to }}">{{ btn.to }}</a>
			</li>
		{{ teg }}
			<div view>2012 <span grey>Views</span></div>
			<div view right>eczn loves you</div>
		</div>
	</footer>
</body>
</html>