<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>eczn's blog</title>
	{{ style name }}
</head>
<body>
	<!-- 有别于 aside -->
	<div class="blog-container">
		<header>
			<div inner>
				<h1 class="blog-title">{{ config.blog.title }}</h1>
			</div>

			<div icon-btn-grey class="nav-btn">
				<img class="icon" src="/icon/list.svg" />
			</div>
		</header>
		
		<div class="main-align">
			<!-- {{ asideRender config }} -->

			<ul class="blogs">
			{{ get (blog, idx) >>>> blogs }}
				<li class="blog">
					<a class="blog-title" href="/blogs/{{ blog.ts }}">
						<h1>{{ blog.title }}</h1>
						<div class="tags">
							{{ get (tag, idx) >>>> blog.tags }}
							<span class="tag">
								<img inline-icon class="blog-icon" src="/icon/tag.svg" />
								<span>{{ tag }}</span>
							</span>
							{{ teg }}
							<span class="date">
								<img inline-icon class="blog-icon" src="/icon/date.svg" />
								<span>{{ YYMMDD blog.date }}</span>
							</span>
						</div>
					</a>
				</li>
			{{ teg }}
			</ul>
		</div>
		
		<!-- Footer -->
		<footer class="pages">
			<div inner>
				<div>
					{{ get (btn, idx) >>>> pageBtns }}
					<li class="page-btn {{ isActive btn.now }}">
						<a href="{{ makeLink btn.to }}">{{ btn.to }}</a>
					</li>
					{{ teg }}

					<div class="bottom-views"><span id="busuanzi_value_site_pv">----</span> <span grey>Views</span></div>
				</div>

				<div class="align-icon">
					<img inline-icon src="/icon/love.svg" />
				</div>
			</div>
		</footer>
	</div>

	<!-- nav aside -->
	<nav class="nav-container">
		<div class="tab-bar">
			<input class="for-about for-tab" checked value="about" name="choose-tab" type="radio" />
			
			<div class="about tab transition-all">
				<div class="bg-container">
					<div class="bg-inner">
						<p has-bg class="name">eczn*</p>
					</div>
				</div>

				<div class="links">
					<a class="link" href="https://github.com/eczn" target="_blank">
						<img src="/icon/github.svg" />
						<span>Github</span>
					</a>
					<a class="link" href="https://segmentfault.com/u/eczn" target="_blank">
						<img src="/icon/sf.svg" />
						<span>segment<span style="color: rgb(0, 154, 97);">fault</span></span>
					</a>
					<a class="link" href="mailto:eczn@moebaka.com" target="_blank">
						<img src="/icon/mail.svg" />
						<span>eczn</span>
					</a>
					<a class="link" href="http://www.gdut.edu.cn/" target="_blank">
						<img src="/icon/university.svg" />
						<span>GDUT</span>
					</a>
					
				</div>
			</div>
			<span has-bg class="for-tab-title">About</span>
		</div>
		<div class="tab-bar">
			<input class="for-list for-tab" value="list" name="choose-tab" type="radio" />
			
			<div class="list tab transition-all">
				list list list 
			</div>
			<span has-bg class="for-tab-title">List</span>
		</div>
	</nav>
</body>
</html>