<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>eczn's blog</title>
	{{ style name }}
</head>
<body>
	<h1>{{ config.blog.title }}</h1>
	
	<ul class="blogs">
	{{ get (blog, idx) >>>> blogs }}
		<li>
			<a href="/blogs/{{ blog.ts }}">{{ blog.title }}</a>

			{{ blog.intro }}
		</li>
	{{ teg }}
	</ul>

	<ul class="pages">
	{{ get (btn, idx) >>>> pageBtns }}
		<li class="page-btn {{ isActive btn.now }}">
			<a href="{{ makeLink btn.to }}">{{ btn.to }}</a>
		</li>
	{{ teg }}
	</ul>
</body>
</html>