<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>eczn's blog</title>
	{{ style name }}
</head>
<body>
	<div class="main">
		<div class="timers-wrap">
			<div class="seconds-wrap">
				<div class="seconds">
					
				</div>
				<div class="hm">
					<span class="hh">16</span>
					<span class="sp">:</span>
					<span class="mm">32</span>
				</div>
			</div>
	
			<div class="about-me">
				<p class="intro">eczn 的破站</p>
		
				<div class="contents">
					<a href="/pages/0/">Blog</a>
					<a target="_blank" href="https://github.com/eczn">Github</a>					
				</div>
			</div>
		</div>
	</div>
</body>
</html>