<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>eczn's blog</title>
	{{ style name }}
</head>
<body>
	<div class="pics">
		<div class="pics-title">照片墙</div>

		<div class="imgs">
			{{ let 'imgs config.pics }}

			{{ get (img, idx) >>>> imgs }}
			<li class="img">
				<img src="{{ img.src }}">
				<p class="index"><span class="grey">#</span> {{ preFill idx }}</p>
				<p class="user">{{ img.intro }}</p>
				{{ if img.time }}
				<p class="time">上传于 {{ img.time }}</p>
				{{ else}}
				{{ fi }}
			</li>
			{{ teg }}
		</div>

		<div class="no-data bottom" v-else>
			共计 {{ preFill imgs.length }} 张照片
		</div>

	</div>
</body>
</html>